:host {
    display: block;
    width: 20%;
    margin: auto;
}

form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form>* {
    margin: 25px;
}