:host {
    display: block;
    width: 20%;
    min-width: 290px;

    margin: auto;
}

form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form>* {
    margin: 25px;
}

.credentials-error {
    margin: -18px 0px 0px 0px !important;
    color: red;
    text-wrap: nowrap;
}