<div class="overlay">
    <form>
        <input hidden type="text" name="id" [(ngModel)]="taskToEdit.id" />
        <label>Title:</label><input type="text" name="title" placeholder="{{ taskToEdit.title }}" [(ngModel)]="title" />
        <div class="input-error" *ngIf="titleError"> title is empty</div>
        <label>Text:</label><input type="text" name="text" placeholder="{{ taskToEdit.text }}" [(ngModel)]="text" />
        <div class="input-error" *ngIf="textError"> text is empty</div>
        <label>Date:</label><input type="text" name="date" placeholder="{{ taskToEdit.date }}" [(ngModel)]="date"
          onfocus="(this.type='date')" onblur="(this.type='text')" />
        <div class="input-error" *ngIf="dateError"> date is empty</div>
        <app-button text="{{ taskToEdit.id == -1 ? 'Add task' : 'Edit task'  }}"
          (click)="onFormSubmit($event)"></app-button>
        <div class="exit" (click)="onFormClose()">x</div>
    </form>
</div>