<p>add-task works!</p>
<form>
    <label>Title:</label><input type="text" name="title" [(ngModel)]="title" />
    <div class="input-error" *ngIf="titleError"> title is empty</div>
    <label>Text:</label><input type="text" name="text" [(ngModel)]="text" />
    <div class="input-error" *ngIf="textError"> text is empty</div>
    <label>Date:</label><input type="date" name="date" [(ngModel)]="date" />
    <div class="input-error" *ngIf="dateError"> date is empty</div>
    <app-button text="Add task" (click)="onFormSubmit($event)"></app-button>
</form>